@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    font-family: 'Mooli';
    margin: 0;
    padding: 0;
    color: #FF7621;
    background-position: top center;
    background-size: cover;
}

a {
    text-decoration: none;
}

h5 {
    color: #363636;
}



.botones {
    width: auto;
    height: 100%;

}

.butones {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.hello {
    font-family: 'Mooli';
    font-size: 1.75rem;
    color: #f7f1f1;
    margin-left: 1rem;
    transition: all 300ms ease;
}

.voltar{
    margin-top: 5rem;
}

.hello:hover {
    /*quando passar o mouse em cima acontece oq ta escrito*/
    transform: translateY(-5px);
}

.titlo {
    margin-left: 14rem;
    margin-top: 50px;
}

.login {
    width: 100%;
    height: 60.3rem;
    display: flex;
}

.textin {
    color: #ffffff;
    margin-left: 5px;
}


.btn-submit {
    width: 160px;
    color: #fff;
    font-family: 'Mooli';
    font-size: 1.75rem;
    text-align: center;
    border-radius: 1rem;
    display: inline-block;
    background-color: #db570b;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border: none;

}

.btn-submit:hover {

    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);

}

@media (max-width: 768px) {

    .btn-submit {
        font-size: 1.75rem;
        width: 100%;
        float: none;
        text-align: center;

    }
}

input[type=checkbox]+label {
    color: #ccc;
}

input[type=checkbox]:checked+label {
    color: #ff0000;
}



select[type=checkbox]+label {
    color: #ccc;
}

select[type=checkbox]:checked+label {
    color: #00ff95;
}

/*LISTA DE CORES
	db570b
	d17014
	FF7621
	ececec
	e08f26
    eb9008
	803b0d
	134a4666*/




/*CÓDIGO DO LOGIN Q DPS Q EU APRENDO*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #b95411;
}

.formLogin select {
    height: 3rem;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin select:focus {
    border: 1px solid #b95411;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #FF7621;
}

.btn {
    background-color: #FF7621;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #db570b;

}


/*pro agendamento dos bichin*/
.mid {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

/*form de adoção*/
.nome-adoc {
    width: 25rem;
}