@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Mooli';
    color: white;
    background-color: #ff9b3d;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 5rem;
    background-color: #FF7621;
    display: flex;
}

.squerda {
    display: flex;
}


.direitinha {
    display: flex;
    height: 100%;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones {
    width: 100%;
    height: 100%;
}

.butones {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotoralha {
    width: auto;
    height: 100%;
}

.cllr {
    display: none;
}

.redes {
    width: auto;
    height: 100%;
}

.hello {
    font-family: 'Mooli';
    font-size: 1.75rem;
    color: #f7f1f1;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 300ms ease;
}

.hello:hover {
    /*quando passar o mouse em cima acontece oq ta escrito*/
    transform: translateY(-5px);
}



.hola {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.hola:hover {
    /*quando passar o mouse em cima acontece oq ta escrito*/
    transform: translateY(-8px);

}

.centro {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlo {
    margin-top: 50px;
    font-size: 3rem;
}

.pagrafo {
    margin-left: 23.3rem;
    margin-top: 21rem;
}

.tabela {
    margin-left: 23.3rem;
}

.liao {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #5023bb, #361e6e);
    display: flex;
}

footer {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #26164a;
}

.rodape {
    color: #f2f2f2;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.rodape:hover {
    color: #FF7621;
}

.t {
    padding: 1rem;
}

.sobre {
    font-size: 4rem;
}

.site {
    background-color: #f4f4f4;
    font-size: 2rem;
    color: #b95411;
    width: 30rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem 0.1rem #0000004e
}


.funcao {
    font-size: 2rem;
}

.teexto {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.site2 {
    background-color: #f4f4f4;
    font-size: 2rem;
    color: #b95411;
    width: 30rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem 0.1rem #0000004e
}

.degrade {
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(to bottom, #ff9b3d 10%, #653ac96b, #5023bb);
    /*fazer o degrade de cima pra baixo*/
    display: flex;

}

.quem {
    font-size: 1.4rem;
    margin-left: 1rem;
}

.subtitulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    margin-left: 2rem;
    color: #05F2DB;
}

.subtitulo2 {
    margin-left: 1rem;
    font-size: 1rem;
    color: #a798c0;
}

.participantes {
    height: 23rem;
    justify-content: space-around;
    display: flex;
}

.cima {
    width: 26rem;
    display: flex;
    justify-content: space-between;
}

.baixo {
    width: 26rem;
    display: flex;
    justify-content: space-between;
}


.bro {
    height: auto;
    width: 11rem;
    border-radius: 1rem;
    background-color: #f7f1f1;
    padding: 8px;
}

.icon {
    background-color: #5023bb;
    border-radius: 100rem;
    height: 7.5rem;
    width: 7.5rem;
}

.preset_icone {
    height: 7.5rem;
    width: 7.5rem;
}

.e {
    width: 165px;
    height: 2px;
}


.nome {
    font-size: 1.5rem;
    color: #3a3939;
    margin-top: 1rem;
}

.oq.faz {
    font-size: 1rem;
    color: rgb(105, 105, 105);
}

.borda {
    border-radius: 1rem;
}

.adot {
    background-color: #ff6600;
    margin-top: 1rem;
    border-radius: 8px;
    border: none;
    width: 50rem;
    height: 3rem;
    transition: all 300ms ease;
}

.adot:hover {
    /*quando passar o mouse em cima acontece oq ta escrito*/
    height: 3.6rem;
    box-shadow: 0rem 0rem 1rem #ff6600;
}

.adot-texto {
    color: #ffffff;
    font-family: 'Mooli';
    font-size: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
    transition: color 0.2s ease, font-size 0.2s ease, text-shadow 0.2s ease;
}

/*CODIGOS DO BOTAO Q LEVA PRO TOPO Q EU AINDA N SEI COMO FUNCIONA*/
html {
    scroll-behavior: smooth;
}

.btn {
    background-image: url('imagis/seta.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #FF3C00;
    text-decoration: none;
    border-radius: 10px;
}

.btn::after {
    font-size: 32px;
    color: aliceblue;
    transition: margin-top 250ms;
}




/*pra janela modal*/
.window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFF;
    text-align: left;
    z-index: 9900;
    padding: 10px;
    border-radius: 1rem;
    color: #361e6e;
}

#mascara {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #0000006e;
}

.janjela {
    display: none;
    position: absolute;
    right: 0;
    top: 4rem;
    background: #f3a03a;
    z-index: 9900;
    border-radius: 10px;
    width: 9rem;
}

.in {
    margin-bottom: 0px;
}

.w {
    margin-top: 10px;
}

.log {
    font-family: 'Mooli';
    font-size: 1.75rem;
    width: 100%;
    color: #f8f5f5;
    transition: all 300ms ease;
}

.log:hover {
    /*quando passar o mouse em cima acontece oq ta escrito*/
    background-color: #f8b25c;
}

#maskra {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #00000017;
}

.enviar {
    font-family: 'Mooli';
    background-color: #FF3C00;
    display: block;
    transition: color 0.2s ease, font-size 0.2s ease, text-shadow 0.2s ease;
}

.enviar:hover {
    /*quando passar o mouse em cima acontece oq ta escrito*/
    font-family: 'Mooli';
    font-size: 1.2rem;
    background-color: #ff5723;
    box-shadow: 0rem 0rem 0.5rem rgb(255, 199, 43);
}

.acbecalho {
    display: flex;
    height: 4rem;
}

.fechar a {
    display: block;
    font-family: 'Mooli';
    cursor: pointer;
    text-align: right;
    transition: all 300ms ease;
}


.x {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1.3rem;
}

.x :hover {
    margin-top: 0.7rem;
}

.informe {
    margin-top: 1rem;
}





h5 {
    color: #363636;
}

.login {
    width: 100%;
    height: 60.3rem;
    display: flex;
}

.textin {
    color: #ffffff;
    margin-left: 5px;
}

.btn-submit {
    width: 160px;
    color: #fff;
    font-family: 'Mooli';
    font-size: 1.75rem;
    text-align: center;
    border-radius: 1rem;
    display: inline-block;
    background-color: #db570b;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border: none;

}

.btn-submit:hover {

    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .btn-submit {
        font-size: 1.75rem;
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type=checkbox]+label {
    color: #ccc;
}

input[type=checkbox]:checked+label {
    color: #ff0000;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    font-weight: 500;
    font-size: 2rem;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #b95411;
}

.formLogin input {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #28055d;
    transition: all linear 160ms;
}


.btn {
    background-color: #FF7621;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #db570b;
}





.noooooovo_slide {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    justify-content: center;
}

button {
    border-radius: 5rem;
    border: none;
    cursor: pointer;
}


main .animalzito {
    display: none;
    height: 100vh;
    /*faz com q as imagens dentro dessa classe dentro do main sejam escondidas*/
}

.animales::after {
    content: "";
    position: absolute;
    top: 17.7rem;
    left: 1.5rem;
    min-height: 39rem;
    width: 70rem;
    background: linear-gradient(100deg, #ff9b3d 10%, rgba(0, 0, 0, 0) 60%)no-repeat;
}

main .animalzito.selecionado {
    /*OS ESPAÇOS NESSA SITUAÇÃO SERVEM PRA MARCAR QUANDO UMA CLASSE DENTRO DE OUTRA
POR ISSO QUE O .PERSONAGEM TA GRUDADO NO .SELECIONADO, PQ SE TIVESSE UM ESPAÇO EU ESTARIA CHAMANDO O 
SELECIONADO DENTRODO PERSONAGEM, E NA REAL ELES TAO UM DO LADO DO OUTRO*/
    display: block;
    /*se sobrepõe ao display none, e faz com q todo elemento com a div .selecionado apareçam*/
}

main .animalzito .imagemslide {
    width: 80rem;
    height: 39rem;
    object-fit: cover;
    border-radius: 1rem;
}

.conteudo {
    font-size: 1.5rem;
    position: absolute;
    top: 18rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 8rem;
    max-width: 480px;
    z-index: 2;
}

.nome-animais {
    margin-bottom: 0px;
}

.descricao {
    line-height: 24px;
    padding: 0px;
    margin-top: 5px;
}

.botoes {
    position: absolute;
    top: 17rem;
    right: 4rem;
    width: 4rem;
    min-height: 39.3rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botao {
    height: 4rem;
    width: 4rem;
    background-color: #f8f8f8;
    transition: all 300ms ease;
}

.img-botao {
    height: 3rem;
    width: 3rem;
}

.botao:hover {
    background-color: #e0e0e0;
}

.botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #f8f5f5;
}